In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import math
from sklearn.preprocessing import MinMaxScaler

In [2]:
GK=pd.read_csv('C:/Users/HP/Downloads/loan_data_set.csv')
GK.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
GK['Property_Area']=le.fit_transform(GK['Property_Area'])
GK['Loan_Status']=le.fit_transform(GK['Loan_Status'])
GK['Education']=le.fit_transform(GK['Education'])

In [4]:
GK.corr()

,Education,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Education,1.000000,-0.140760,-0.062290,-0.171133,-0.078784,-0.081822,-0.065243,-0.085884
ApplicantIncome,-0.140760,1.000000,-0.116605,0.570909,-0.045306,-0.014715,-0.009500,-0.004710
CoapplicantIncome,-0.062290,-0.116605,1.000000,0.188619,-0.059878,-0.002056,0.010522,-0.059187
LoanAmount,-0.171133,0.570909,0.188619,1.000000,0.039447,-0.008433,-0.045792,-0.037318
Loan_Amount_Term,-0.078784,-0.045306,-0.059878,0.039447,1.000000,0.001470,-0.078748,-0.021268
Credit_History,-0.081822,-0.014715,-0.002056,-0.008433,0.001470,1.000000,-0.001969,0.561678
Property_Area,-0.065243,-0.009500,0.010522,-0.045792,-0.078748,-0.001969,1.000000,0.032112
Loan_Status,-0.085884,-0.004710,-0.059187,-0.037318,-0.021268,0.561678,0.032112,1.000000

In [5]:
GK.dropna()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,0,No,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,Male,Yes,0,0,Yes,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,Male,Yes,0,1,No,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,Male,No,0,0,No,6000,0.0,141.0,360.0,1.0,2,1
5,LP001011,Male,Yes,2,0,Yes,5417,4196.0,267.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,0,No,2900,0.0,71.0,360.0,1.0,0,1
610,LP002979,Male,Yes,3+,0,No,4106,0.0,40.0,180.0,1.0,0,1
611,LP002983,Male,Yes,1,0,No,8072,240.0,253.0,360.0,1.0,2,1
612,LP002984,Male,Yes,2,0,No,7583,0.0,187.0,360.0,1.0,2,1
613,LP002990,Female,No,0,0,Yes,4583,0.0,133.0,360.0,0.0,1,0

In [6]:
x=GK.iloc[:,6:10]
y=GK.iloc[:,-1]

In [7]:
x.fillna(x.mean(), inplace=True)

In [8]:
a = x.values
scaler = MinMaxScaler(feature_range=(0,1))
rescaledX = scaler.fit_transform(a)

In [9]:
from sklearn.model_selection import train_test_split
a_train, a_test,y_train,y_test = train_test_split(a,y, test_size=0.2,random_state=40)

In [10]:
from sklearn.linear_model import LogisticRegression
logmodel=LogisticRegression().fit(a_train,y_train)

In [11]:
pre=logmodel.predict(a_test)

In [12]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,pre)

array([[ 0, 31],
       [ 1, 91]], dtype=int64)

In [13]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pre)

0.7398373983739838